<div class="signup-container">
  <h1>Signup Test</h1>
  <div>
    <form (ngSubmit)="signup()">
      <label for="Email">Name:</label>
      <input
        type="text"
        id="Name"
        name="Name"
        [(ngModel)]="_user.name"
        required
      />
      <label for="Email">Email:</label>
      <input
        type="text"
        id="Email"
        name="Email"
        [(ngModel)]="_user.email"
        required
      />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="_user.password"
        required
      />

      <button type="submit">signup</button>
    </form>
    <a href="./login">login</a>
  </div>
  <div *ngIf="message" class="user-info">
    <h2>User created!</h2>
  </div>

  <div *ngIf="Error" class="error-message">
    <p>{{ Error }}</p>
  </div>
</div>
